.playerCard 
        background-color: #0492c2;
        width: 268px;
        height: 380px;
        display: flex
        flex-direction: column;
        margin: 10px;
        border: 2px solid #000000; 
        box-shadow: 1px 2px 15px 0.5px grey;
        border-radius: 5px;
      
.card-image 
        height: 80%;
        width: 90%;
        object-fit: cover;
        border: 3px solid silver; 
        margin: 3.5%;

.player-heroname
        color: white;
        text-transform: uppercase;
        text-align: left;
        font-size: 1.3em;
        text-shadow: 2px 2px 4px black;
        font-weight: 800;
        position: absolute;
        padding: 3.5%;
        bottom: 11.5%;
        margin: 0px;
      