.playerCard 
        background-color: #0492c2;
        width: 268px;
        height: 380px;
        display: flex
        flex-direction: column;
        margin: 10px;
        border: 2px solid #000000; 
        box-shadow: 1px 2px 15px 0.5px grey;
        border-radius: 5px;
      
.card-image 
        height: 80%;
        width: 90%;
        object-fit: cover;
        border: 3px solid silver; 
        margin: 3.5%;

.player-heroname
        color: white;
        text-transform: uppercase;
        text-align: left;
        font-size: 1.3em;
        text-shadow: 2px 2px 4px black;
        font-weight: 800;
        position: relative;
        padding: 3.5%;
        bottom: 10%;
        margin: 0px;

.player-button
        border-radius: 50%;
        width: 30px; 
        height: 30px;
        margin: auto;


.playerCard-stats-cntr
        display: flex;
        flex-direction: row;
        justify-content: space-around;


#playerCard-combat
        background-color: red;

#playerCard-durability
        background-color: green;

#playerCard-intelligence
        background-color: white;

#playerCard-power
        background-color: orange;

#playerCard-speed
        background-color: yellow;

#playerCard-strength
        background-color: purple;




