$x-small: 320px;
$small: 390px;
$medium: 540px;
$large: 950px;
        
$xx-small-height: 280px;
$x-small-height: 320px;
$small-height: 390px;
$medium-height: 540px;
$large-height: 1180px;
        
.heroCard
        background-color: transparent;
        width: 268px;
        height: 380px;
        perspective: 1000px; // Remove this if you don't want the 3D effect 
        display: flex;
        flex-direction: column;
        margin: 10px;

.heroCard-inner
        position: relative;
        height: 100%;
        width: 100%;
        transition: transform 0.4s;
        transform-style: preserve-3d;
        border-radius: 10px;
        
.heroCard-transform 
        position: relative;
        height: 100%;
        width: 100%;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        border-radius: 10px;
        transform: rotateY(180deg);

.heroCard-back, .heroCard-front
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 10px;
        border: 2px solid #000000; 
        box-shadow: 1px 2px 15px 0.5px grey;

.heroCard-image
        height: 80%;
        width: 90%;
        object-fit: cover;
        border: 3px solid silver; 
        margin: 3.5%;

.heroCard-front
        background-color: transparent;
        background-size: cover;
        background-image: url("../../../public/cardDesign.png");
     
.heroCard-back
        transform: rotateY(180deg);
        background-color: #0492c2;
       
.heroname
        color: white;
        text-transform: uppercase;
        text-align: left;
        font-size: 1.3em;
        text-shadow: 2px 2px 4px black;
        font-weight: 800;
        position: absolute;
        padding: 3.5%;
        bottom: 11.5%;
        margin: 0px;
  
// A class that is used to center the stats div's.
.heroCard-stats-cntr
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
.heroCard-stat-nmb
        font: 0.8em sans-serif;
        font-weight: bold;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        top: 50%;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;

#heroCard-combat
        border: 1px solid #000000;
        background-color: #2A2A72;
        background-image: linear-gradient(315deg, #2A2A72 0%, #009FFD 74%);

#heroCard-durability
        border: 1px solid #000000;
        background-color: #ff5858;
        background-image: linear-gradient(315deg, #ff5858 0%, #ffff45 44%);

#heroCard-intelligence
        border: 1px solid #000000;
        background-color: #990000;
        background-image: linear-gradient(147deg, #990000 0%, #FF0000 74%);

#heroCard-power
        border: 1px solid #000000;
        background-color: #D4418E;
        background-image: linear-gradient(315deg, #D4418E 0%, #0652C5 74%);

#heroCard-speed
        border: 1px solid #000000;
        background-color: #00B712;
        background-image: linear-gradient(315deg, #00B712 0%, #5AFF15 74%);

#heroCard-strength
        border: 1px solid #000000;
        background-color: #f5df2e;
        background-image: linear-gradient(315deg, #f5df2e 0%, #f07654 74%);

@media screen and (orientation:portrait)
        .heroCard
                width: 173.25px;
                height: 247.5px;

        .heroCard-image
                margin-bottom: 1%;
                
        .heroname
                font-size: 0.8em;

        .heroCard-stat-nmb
                font: 0.7em sans-serif;
                width: 23px;
                height: 23px;

@media screen and (min-width: $medium +1) and (max-width: $large) and (orientation:portrait)
        .heroCard
                width: 268px;
                height: 380px;

        .heroCard-stat-nmb
                width: 30px;
                height: 30px;
                
        .heroCard-image
                margin-bottom: 1%;
        
        .heroname
                font-size: 0.8em;

        .heroCard-stats-cntr
                position: relative;
                top: 7%;
                transform: translateY(-50%);

@media screen and (min-height: $xx-small-height) and (max-height: $x-small-height) and (orientation:landscape)
        .heroCard
                width: 147.5px;
                height: 210px;

        .heroCard-image
                margin-bottom: 1%;
        
        .heroCard-stat-nmb
                width: 23px;
                height: 23px;
                font: 0.6em sans-serif;
        
        .heroname
                font-size: 0.8em;

@media screen and (min-height: $x-small-height) and (max-height: $medium-height) and (orientation:landscape)
        .heroCard
                width: 162.25px;
                height: 231px;

        .heroCard-image
                margin-bottom: 1%;
        
        .heroCard-stat-nmb
                width: 23px;
                height: 23px;
                font: 0.6em sans-serif;
        
        .heroname
                font-size: 0.8em;