.resultHidden
    visibility: hidden;

#result
    background-size: cover;
    width: 400px;
    height: 150px;

.resultWin
    visibility: visible;
    background-image: url("../../../public/Win.png");
    opacity: 0;
    transition: opacity 1.5s linear;

.resultLose
    visibility: visible;
    background-image: url("../../../public/Lose.png");
    opacity: 0;
    transition: opacity 1.5s linear;

.resultDraw
    visibility: visible;
    background-image: url("../../../public/Draw.png");
    opacity: 0;
    transition: opacity 1.5s linear;

@media screen and (orientation:portrait)
    #result
        width: 100px;
        height: 37.5px;


