.container 
    display: flex;
    align-items: center;
    flex-direction: column;


.cardContainer
    display: flex;
    flex-direction: row;


.battleButton
    border-radius: 50%; 
    height: 50px;
    width: 50px;
